name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: [12.x]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - name: Cache cargo modules
        uses: actions/cache@v3
        env:
          cache-name: cache-cargo-modules
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
# Need to fix tests as they currently have an issue
#      - uses: actions-rs/cargo@v1
#        with:
#          command: test
      - name: build
        run: cargo build --release
